.full-width {
  width: 100%;
}
.spinner-container{
  position: absolute;
  height: 80vh;
  width: 100vw;
  background-color: #fafafa;
  z-index: 1;
}
table {
  width: 100%;
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-header-cell{
    font-size:inherit;  }
  .mat-cell, .mat-footer-cell{
    font-size:18px;
  }
  #picture{
    border-radius: 50%;
    height: 72px;
  }
}

#addNew{
  margin:0.5rem;
}
