.stock-list{
  height:95%;
  min-height: 3rem;
  min-width: 45vw;
}
.stockList{
   width: 90vw;
  .productList{
    min-height: 2rem;
    max-height: 60vh;
    overflow-y: scroll;
  }
}
.half-width{
  min-width: 200px;
  width: 45vw;
}
.qtyInput{text-align: center;}
