<div fxLayout="column">
<div fxLayout="row">
    <h4><a routerLink="/home">Home</a></h4>
    <h4>&nbsp; > &nbsp;</h4>
    <h4><a routerLink="/customers">Customers</a></h4>
    <h4>&nbsp; > &nbsp;</h4>
    <h4><a [routerLink]="['../../customer_detail/',customer.id]">{{customer.name.first}} {{customer.name.last}}</a></h4>
    <h4>&nbsp; > &nbsp;</h4>
    <h4>editing</h4>
</div>

<mat-card fxFlex fxLayout="column">
  <h3>Edit customer</h3>
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0">
    <mat-form-field class="add-form-field full-width">
      <input matInput type="text" placeholder="First Name" [(ngModel)]="customerData.name.first">
      <button mat-button *ngIf="customerData.name.first" matSuffix mat-icon-button aria-label="Clear"
        (click)="customerData.name.first=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="add-form-field full-width">
      <input matInput type="text" placeholder="Last Name" [(ngModel)]="customerData.name.last">
      <button mat-button *ngIf="customerData.name.last" matSuffix mat-icon-button aria-label="Clear"
        (click)="customerData.name.last=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="add-form-field full-width">
      <input matInput type="email" placeholder="Mail" [(ngModel)]="customerData.email">
      <button mat-button *ngIf="customerData.email" matSuffix mat-icon-button aria-label="Clear"
        (click)="customerData.email=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="add-form-field full-width">
      <input matInput type="text" placeholder="Phone" [(ngModel)]="customerData.phone">
      <button mat-button *ngIf="customerData.phone" matSuffix mat-icon-button aria-label="Clear"
        (click)="customerData.phone=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="add-form-field full-width">
      <input matInput type="text" placeholder="Address" [(ngModel)]="customerData.address">
      <button mat-button *ngIf="customerData.address" matSuffix mat-icon-button aria-label="Clear"
        (click)="customerData.address=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="add-form-field full-width">
      <textarea matInput name="" id="" cols="30" rows="10" placeholder="About"
        [(ngModel)]="customerData.about"></textarea>
      <button mat-button *ngIf="customerData.about" matSuffix mat-icon-button aria-label="Clear"
        (click)="customerData.about=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button id="edit-btn" mat-raised-button color="primary" (click)='editCustomer(customerData)'>Save</button>
  <button mat-raised-button color="warn" (click)='goBack()'>Cancel</button>
</mat-card>
</div>
