<div fxLayout="row" fxLayoutAlign="center center" class="login-main">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header fxLayout fxLayoutAlign="center">
        <mat-card-title>Register Page</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="registerForm.get('email')">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="password" [formControl]="registerForm.get('password')">
        </mat-form-field>
      </mat-card-content>
      <mat-error *ngIf="(email.invalid || password.invalid)&&(email.dirty || email.touched)" fxLayoutAlign="center">
          Fields don't meet the minimum requirements
      </mat-error>
      <mat-card-actions fxLayoutAlign="end">
        <button type="submit" mat-raised-button color="primary">Register</button>
      </mat-card-actions>
      <mat-label fxLayout="row" fxLayoutAlign="center"> registered?
          <a routerLink="/users/login"> Log in</a>
      </mat-label>

    </mat-card>
  </form>

</div>
