<mat-nav-list #sidenav>
    <app-menu-list-item (sidenavClose)="sidenav.ngOnChanges()" *ngFor="let item of navList" [item]="item">
    </app-menu-list-item>
    <div [ngStyle]="{'border': '1px solid #aaa'}">
    </div>
    <a mat-list-item *ngIf="!isLogged" routerLink="login" (click)="onSidenavClose()">
      <mat-icon>lock_open</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item *ngIf="!isLogged" routerLink="users/register" (click)="onSidenavClose()">Register</a>
    <a mat-list-item *ngIf="isLogged" routerLink="home" (click)="onLogout()" (click)="onSidenavClose()">
      <mat-icon>lock</mat-icon>
      <span class="nav-caption">Logout</span>
    </a>
  </mat-nav-list>
