a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 3px;
  #firstBar{
    height: 55px;
  }
  #secondBar{
    background-color: #6495ed;
    height: 40px;
    span{
      font-size:medium;
    }
  }
  .iconBar{margin-right: 0.5rem;}
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
      #secondBar{
        display: none;
      }
  }
}
