<mat-toolbar color="primary">
    <!-- First Bar-->
    <mat-toolbar-row id="firstBar" fxLayout="row" fxLayoutAlign="start center ">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxFlexAlign="center">
        <a routerLink="/home">
          <mat-icon class="md-36">home</mat-icon>
        </a>
      </div>
      <div fxFlex fxFlexAlign="center" fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout="column" fxLayoutAlign="space-around" class="navigation-items log-items">
          <li *ngIf="!isLogged" id="loginBtn">
            <a routerLink="login" fxLayout fxLayoutAlign=" start center">
              <mat-icon class="iconBar" >lock_open</mat-icon>
              <span class="nav-caption" fxFlexAlign="center">Login</span>
            </a>
          </li>
          <!-- <li *ngIf="!isLogged" id="registerBtn">
            <a routerLink="register" fxLayout fxLayoutAlign=" start center">
              <mat-icon class="iconBar">how_to_reg</mat-icon>
              <span class="nav-caption" fxFlexAlign="center">Register</span>
            </a>
          </li> -->
          <li *ngIf="isLogged" fxLayout fxLayoutGap="0.5rem">
            <mat-icon class="logged-icon" aria-hidden="false" aria-label="User verified icon" title="User logged">verified_user
            </mat-icon>
            <a routerLink="home" (click)="onLogout()" fxLayout title="Logout">
              <mat-icon class="logout-icon" fxFlexAlign="end">lock</mat-icon>
            </a>

          </li>
        </ul>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>

  <!--
  <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
        </button>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink='/users'>Users</a></li>
  </ul>
      </div>

      </mat-toolbar>
  <p>nav-bar works!</p>

  <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink='/users'>Users</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  -->
