a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 3px;
  #firstBar{
    height: 55px;
    .log-items{
      #loginBtn{
        margin-top: 1rem;
      }
      #registerBtn{
        a{
          color:#ddd;
        }
      }
      li{
        line-height: 1;
      }
      mat-icon{
        font-size: 14px;
      }
      a{
        font-size: medium;
      }
    }
  }
  #secondBar{
    background-color: #6495ed;
    height: 40px;
    span{
      font-size:medium;
    }
  }
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
      #secondBar{
        display: none;
      }
  }
}
