mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}
#mainContent {
  width: 100%;
  max-height: none !important;
  main {
    overflow-x: auto;
    > * {
      width: 100%;
    }
    router-outlet {
      width: 0;
    }
  }
  .mat-nav-list {
    max-width: 250px !important;
    padding-top: 0;
    //height: 100vh;
    #menuTitle {
      min-height: 32px;
      background-color: #6495ed;
      border-right: 4px solid #aec7f3;
    }
    span {
      left: 1rem;
      width: 100%;
      opacity: 0.5;
      small {
        bottom: 0;
      }
    }
  }
}
app-nav-bar {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px 0 #0000001a,
    0 1px 18px 0 #0000001a;
  z-index: 0;
}
